<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parcials/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('../parcials/header.ejs'); %>
    </header>

    <main class="card">
        <h1 class="card-title">Produtos!</h1>
        <p>Cantina do senac todos os produtos.</p>
    </main>

    <footer>
        <%- include('../parcials/footer.ejs'); %>
    </footer>
</body>
</html>